<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/funcionalidade">Funcionalidade</a>
        <a href="/apresentacao">Apresentação</a>
    </nav>
    <div class="container">
        <h1>Apresentação do Grupo</h1>
        <ul>
            {% for membro in membros %}
                <li><strong>{{ membro.nome }}</strong>: {{ membro.contribuicao }}</li>
            {% endfor %}
        </ul>
        <a href="/" class="action-link">Voltar para Home</a>
    </div>
    <footer>
        <p>&copy; 2024 Análise COVID</p>
    </footer>
</body>
</html>

